guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.offsets
*.cpt
*.err
*.out
*.xtc
*.ndx
*.itp
*.top
*.mol2
*.stdin
log.*
.ipynb_checkpoints/
biobb_wf_mem/notebooks/*/
biobb_wf_mem/notebooks/*.png
biobb_wf_mem/notebooks/*.gif
biobb_wf_mem/notebooks/*.web*.ipynb
biobb_wf_mem/notebooks/*.docs.ipynb
biobb_wf_mem/docs/notebooks
biobb_wf_mem/html/biobb_wf_mem.web.ipynb

*.old.ipynb
*.bk.ipynb
\#*\#
.DS_Store